# Laravel
/vendor
/node_modules
/public/storage
/storage/*.key

# Vite
/public/build
*.log

# Docker
*.pid
*.sock

# IDEs y sistema
.DS_Store
*.swp
*.swo
.idea
.vscode

# envs (raíz)
.env
.env.*
!.env.example
!.env.testing.example

# envs (si están dentro de taskcurso/)
/taskcurso/.env
/taskcurso/.env.*
/taskcurso/.env.testing
!/taskcurso/.env.testing.example

taskcurso/.env.testing
taskcurso/.env.testing
